* {
    margin: 0;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Yanone Kaffeesatz;
  }
  
  body {
    padding: 1rem;
    text-align: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  header {
    width: 100%;
    color: white;
  }
  
  #titleHeader{
    background-color: rgba(2, 105, 16, 0.8);
    padding: 10px;
    color:black;
    font-size: 12ch;
    font-weight: 700;
    border-radius: 6px;
    border: rgba(0, 0, 0, 0.397);
    border-width: 1px;
    border-style: solid;
  }

  #openingImage {
    max-width: 500px;
    max-height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: auto;
  }

  #favoritesBar{
    background-color: rgba(2, 105, 16, 0.8);
    color: black;
    text-align: center;
    border: rgba(0, 0, 0, 0.397);
    border-width: 1px;
    border-style: solid;
  }

  #Comment {
    color: rgb(211, 211, 211)
  }

  h3 {
    font-family: Yanone Kaffeesatz;
    font-weight: 500;
    font-size: 10ch;
    max-width: 90%;
    margin: auto;
  }

  h4 {
    background-color: gray;
    color: black;
  }

  #recipeDetailImage{
    position: relative;
    height: 300px;
    margin: auto;

  }

  #recipeName {
    margin: auto;
    font-family: Yanone Kaffeesatz;
    font-weight: 400;
    font-size: 5ch;
    background-color: rgba(211, 211, 211, 0.6);
    width: 300px; 
    border-color: black;
    border-width: 1px;
    border-style: solid;
  }

  #greeting {
    margin: auto;
    margin-top: 30px;
    font-size: 8ch;
    color: rgb(211, 211, 211);
  }

  #recipe-menu {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: 90%;
    background-color: rgba(148, 147, 145, 0.7);
  }
  
  #recipe-menu div {
    height: 200px;
    margin: 8px;
    cursor: pointer;
  }

  #recipe-menu div img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
  }
  
  
  #recipe-menu img:last-child {
    margin-right: 0;
  }

  #favoriteList {
    height: 250px;
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: 90%;
    background-color: rgba(148, 147, 145, 0.7);
  }

  img {
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }
  
  #favoriteList div {
    height: 200px;
    margin: 8px;
    cursor: pointer;
  }

  #favoriteList div img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
  }
  
  #favoriteList img:last-child {
    margin-right: 0;
  }
  
  #recipe-detail {
    margin-bottom: 20px;
    position: relative;
  }
 
  .instructions {
    position: relative;
    max-width: 90%;
    height: auto;
    font-size: 4ch;
    font-weight: 400;
    border: black;
    border-width: 2px;
    border-style: solid;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(210, 180, 140, 0.6);
    
  }

  button {
    margin-top: 30px;
    font-family: Yanone Kaffeesatz;
    font-size: 4ch;
    font-weight: 400;
    background-color: rgba(88, 1, 1, 0.7);
    cursor: pointer;
    height: 40px;
    width: 300px;
    padding: 8pm;
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }

  button:hover{
    background-color: rgb(179, 2, 2);
  }
  
  .name {
    bottom: 60px;
  }
  
  .ingredients {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(211, 211, 211);
  }
  
  #ingredientList {
    font-size: 3.5ch;
    max-width: 90%;
    text-align: center;
    height: auto;
    margin: auto;
    column-count: 3;
    column-gap: auto;
    border: black;
    border-width: 2px;
    border-style: solid;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(210, 180, 140, 0.6);
  }

  li {
    text-align: left;
  }

  form {
    margin: auto;
    margin-top: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  input,
  textarea {
    font-size: 4ch;
    border: 1px solid black;
    background-color: rgba(148, 147, 145, 0.7);
    padding: 0.5rem;
    margin: auto;
    width: 100%;
  }
  
  label{
    font-size: 4ch;
    color: rgb(211, 211, 211);
  }

  input[type="submit"] {
    color: black;
    border: 1px solid black;
    background-color: rgba(88, 1, 1, 0.7);
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  input[type="submit"]:hover {
    background-color: rgb(179, 2, 2)
  }
  
  input[type="submit"]:active {
    background-color: rgba(88, 1, 1, 0.7);
  }
  
  form h4 {
    font-size: 4ch;
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem 0;
    color: black;
    background-color: rgba(184, 120, 3, 0.7);
    border-color: black;
    border-width: 1px;
    border-style: solid;
  }

  #mealImageTitle {
    font-size: 3ch;
    font-weight: 400;
  }

  .favoriteTitle {
    font-size: 3ch;
    font-weight: 400;
  }
  
  #commentDisplay {
    font-size: 5ch;
    font-weight: 400;
    max-width: 90%;
    height: auto;
    margin: auto;
    border: black;
    border-width: 2px;
    border-style: solid;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(210, 180, 140, 0.6);
  }

  .deleteButton {
    width: 125px;
    height: auto;
    font-size: 3ch;
    margin-top: 15px;
    margin: auto;
    position: sticky;
    bottom: 0;
  }